* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: Poppins, sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
nav {
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    font-weight: 400;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.section-1 {
    height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #0B255A 0%, #0B255A 30%, #000000 130%);
    margin: 0%;
    overflow: hidden;
    position: relative;
}
.section-2 {
    height: calc(200vh - 80px);
    width: 100%;
    background: #E8F0FF;
    margin: 0%;
    overflow: hidden;
    position: relative;
}
.nav-1 {
    background: linear-gradient(to bottom, rgba(8, 30, 72, 0.4) 0%, rgba(0, 0, 0, 0.4) 500%); backdrop-filter: blur(8px); -webkit-backdrop-filter: blur(8px);
}
.nav-2 {
    background: linear-gradient(to bottom, rgba(232, 240, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 250%); backdrop-filter: blur(8px); -webkit-backdrop-filter: blur(8px);
}
.nav-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}
.section1-container {
    padding-top: 80px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 45%;
}
.nav-container-left {
    display: flex;
    align-items: center;
}
.nav-container-right-1 {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: white;
    font-weight: 400;
}
.nav-container-right-2 {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #0B255A;
    font-weight: 400;
}
.section-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 100px;
    padding-right: 2%;
    justify-content: center;
    position: relative;
}
.section-right {
    display: flex;
    height: 100%;
    margin-right: 0%;
    position: relative;
}
.nav-btn {
    margin-left: 50px;
    position: relative;
    transition: all 0.3s ease;
}
.nav-btn::after {
    content: "";
    width: 100%;
    height: 2px;
    background: #facc15;
    position: absolute;
    left: 0%;
    bottom: -8px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.nav-btn:hover::after {
    transform: scaleX(1);
    transform: scale(0.95);
}
.nav-btn:hover {
    color: #facc15;
    transform: scale(0.95);
}
.active-1, .active-2 {
    font-weight: 700;
}
.active-1::after {
    content: "";
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: 0%;
    bottom: -8px;
    transform: scaleX(0.1);
}
.active-2::after {
    content: "";
    width: 100%;
    height: 2px;
    background: #0B255A;
    position: absolute;
    left: 0%;
    bottom: -8px;
    transform: scaleX(0.1);
}
.active-1:hover::after, .active-2:hover::after {
    background: #facc15;
}
.company-1 {
    font-size: 18px;
    color: white;
    font-weight: 700;
}
.company-2 {
    font-size: 18px;
    color: #0B255A;
    font-weight: 700;
}
.logo-1 {
    width: 40px;
    height: auto;
    margin-right: 18px;
}
.logo-2 {
    width: 40px;
    height: auto;
    margin-right: 18px;
    filter: drop-shadow(0px 0px 2px rgba(11, 37, 90, 1));
}
.phone-wrap {
    position: absolute;
    bottom: -35%;
    right: -20%;
}
.phone {
    transform: scale(0.6);
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,1));
    opacity: 0.9;
    cursor: pointer;
    transition: all 0.3s ease;
}
.phone:hover {
    transform: scale(0.6) translateY(40px);
    filter: drop-shadow(0px 0px 10px rgba(255,255,255,1));
}
.tagline {
    color: white;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}
.sub-tagline {
    color: white;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}
.light {
    font-weight: 700;
}
.layanan-btn {
    display: inline-flex;
    align-items: center;
}
.text-btn {
    font-size: 20px;
    padding: 14px 32px;
    margin-right: 20px;
    font-weight: 700;
    color: #0B255A;
    background: white;
    border-radius: 12px;
    position: relative;
}
.layanan-btn:hover .text-btn {
    background: #2563EB;
    color: white;
}
.arrow-btn {
    font-size: 75px;
    font-weight: 300;
    color: white;
    transition: transform 0.3s ease;
}
.layanan-btn:hover .arrow-btn {
    transform: translateX(30px);
    color: #2563EB;
}
.section-bg {
    position: absolute;
    inset: 0;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
    flex-direction: column;
}
.space {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    filter: blur(5px);
    opacity: 0.2;
}
.section2-container {
    padding-top: 80px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
}
.part1 {
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.part2 {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.header-title {
    color: #0B255A;
    font-size: 40px;
    font-weight: 600;
}
.header-text {
    margin-top: 0px;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
}
.section-row {
    display: flex;
    gap: 24px;
    margin-top: 48px;
}
.box {
    flex: 1;
    height: 280px;
    background: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    transition: all 0.3s ease;
    overflow: hidden;
    z-index: 1;
}
.img-layanan {
    width: 64px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.title-layanan {
    color: #0B255A;
    font-size: 24px;
    font-weight: 600;
}
.text-layanan {
    margin-top: 5px;
    text-align: center;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
}
.section-header, .section-row {
    transform: translateY(-40px);
}
.box:hover, .box-2:hover {
    background: linear-gradient(135deg, #0B255A 0%, #0B255A 30%, #000000 150%);
    transform: translateY(20px);
    filter: drop-shadow(0px -10px 1px rgba(0,0,0,0.3));
}
.box:hover .title-layanan, .box:hover .text-layanan, .box-2:hover .title-product, .box-2:hover .start-from, .box-2:hover .price {
    color: white;
}
.box:hover .img-layanan, .box-2:hover .product {
    filter: drop-shadow(0px 0px 2px rgba(255,255,255,1));
}
.bg-layanan {
    height: calc(1/3 * 200vh);
    width: 100%;
    object-fit: cover;
    filter: blur(4px);
    opacity: 0.5;
}
.box a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 25px;
}
.box-2 {
    flex: 1;
    height: auto;
    background: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    transition: all 0.3s ease;
    overflow: hidden;
    z-index: 1;
    min-width: 256px;
}
.box-2 a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 25px;
}
.product {
    height: 192px;
}
.title-product {
    color: #0B255A;
    font-size: 20px;
    padding-top: 10px;
    font-weight: 600;
}
.start-from {
    margin-top: 5px;
    font-size: 12px;
    color: #000000;
    text-align: left;
    font-weight: 400;
    width: 100%;
}
.price {
    font-size: 20px;
    color: #0B255A;
    text-align: left;
    font-weight: 500;
    width: 100%;
}
.status {
    font-size: 14px;
    font-weight: 500;
    color: #2563EB;
    margin-top: 5px;
    text-align: left;
    width: 100%;
}
.contact-container {
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.img-address {
    height: 30px;
    margin-right: 20px;
}
.contact-right, .contact-left {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-left {
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.form-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 40px;
    gap: 8px;
}
.form-container input, .form-container textarea {
    width: 100%;
    height: 70px;
    padding: 12px;
    margin-bottom: 16px;
    border: 3px solid #0B255A;
    border-radius: 4px;
    transition: all 0.3s ease;
    color: #0B255A;
    font-size: 16px;
    font-family: Poppins, sans-serif;
}
.form-container input:hover, .form-container textarea:hover {   
    transform: scale(0.98);
}
.form-container input::placeholder, .form-container textarea::placeholder {
    color: #0B255A;
    opacity: 0.5;
    font-family: Poppins, sans-serif;
    font-size: 16px;
}
.form-container button {
    width: 100%;
    padding: 15px;
    background-color: #0B255A;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}
.form-container button:hover {
    opacity: 0.5;
    transform: scale(0.98);
}
address {
    font-style: normal;
    color: white;
    font-size: 20px;
}
.contact-header {
    color: #ffffff;
    font-size: 50px;
    font-weight: 600;
    text-align: left;
    width: 100%;
}
.contact-text {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    width: 100%;
}
.contact-title {
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    width: 100%;
    margin-top: 20px;
}
.contact-item, address a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}
address a {
    margin-top: 10px;
    transition: all 0.3s ease;
}
address a:hover {
    opacity: 0.5;
    transform: scale(0.95);
}