* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: Poppins, sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
nav {
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    font-weight: 400;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.section-1 {
    height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #0B255A 0%, #0B255A 30%, #000000 130%);
    margin: 0%;
    overflow: hidden;
    position: relative;
}
.section-2 {
    height: calc(200vh - 80px);
    width: 100%;
    background: #E8F0FF;
    margin: 0%;
    overflow: hidden;
    position: relative;
}
.nav-1 {
    background: linear-gradient(to bottom, rgba(8, 30, 72, 0.4) 0%, rgba(0, 0, 0, 0.4) 500%); backdrop-filter: blur(8px); -webkit-backdrop-filter: blur(8px);
}
.nav-2 {
    background: linear-gradient(to bottom, rgba(232, 240, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 250%); backdrop-filter: blur(8px); -webkit-backdrop-filter: blur(8px);
}
.nav-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}
.section1-container {
    padding-top: 80px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 45%;
}
.nav-container-left {
    display: flex;
    align-items: center;
}
.nav-container-right-1 {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: white;
    font-weight: 400;
}
.nav-container-right-2 {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #0B255A;
    font-weight: 400;
}
.section-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 100px;
    padding-right: 2%;
    justify-content: center;
    position: relative;
}
.section-right {
    display: flex;
    height: 100%;
    margin-right: 0%;
    position: relative;
}
.nav-btn-1, .nav-btn-2 {
    margin-left: 50px;
    position: relative;
}
.nav-btn-1::after {
    content: "";
    width: 100%;
    height: 2px;
    background: #facc15;
    position: absolute;
    left: 0%;
    bottom: -8px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.nav-btn-2::after {
    content: "";
    width: 100%;
    height: 2px;
    background: #B78B00;
    position: absolute;
    left: 0%;
    bottom: -8px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.nav-btn-1:hover::after, .nav-btn-2:hover::after {
    transform: scaleX(1);
}
.nav-btn-1:hover {
    color: #facc15;
}
.nav-btn-2:hover {
    color: #B78B00 ;
}
.active-1, .active-2 {
    font-weight: 700;
}
.active-1::after {
    content: "";
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: 0%;
    bottom: -8px;
    transform: scaleX(0.1);
}
.active-2::after {
    content: "";
    width: 100%;
    height: 2px;
    background: #0B255A;
    position: absolute;
    left: 0%;
    bottom: -8px;
    transform: scaleX(0.1);
}
.active-1:hover::after {
    background: #facc15;
}
.active-2:hover::after {
    background: #B78B00;
}
.company-1 {
    font-size: 18px;
    color: white;
    font-weight: 700;
}
.company-2 {
    font-size: 18px;
    color: #0B255A;
    font-weight: 700;
}
.logo-1 {
    width: 40px;
    height: auto;
    margin-right: 18px;
}
.logo-2 {
    width: 40px;
    height: auto;
    margin-right: 18px;
    filter: drop-shadow(0px 0px 2px rgba(11, 37, 90, 1));
}
.phone-wrap {
    position: absolute;
    bottom: -35%;
    right: -20%;
}
.phone {
    transform: scale(0.6);
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,1));
    opacity: 0.9;
    cursor: pointer;
    transition: all 0.3s ease;
}
.phone:hover {
    transform: scale(0.6) translateY(40px);
    filter: drop-shadow(0px 0px 10px rgba(255,255,255,1));
}
.tagline {
    color: white;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}
.sub-tagline {
    color: white;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}
.light {
    font-weight: 700;
}
.layanan-btn {
    display: inline-flex;
    align-items: center;
}
.text-btn {
    font-size: 20px;
    padding: 14px 32px;
    margin-right: 20px;
    font-weight: 700;
    color: #0B255A;
    background: white;
    border-radius: 12px;
    position: relative;
}
.layanan-btn:hover .text-btn {
    background: #facc15;
    color: white;
}
.arrow-btn {
    font-size: 75px;
    font-weight: 300;
    color: white;
    transition: transform 0.3s ease;
}
.layanan-btn:hover .arrow-btn {
    transform: translateX(30px);
    color: #facc15;
}
.section-bg {
    position: absolute;
    inset: 0;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    flex-direction: column;
}
.space {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    filter: blur(5px);
    opacity: 0.2;
}
.section2-container {
    padding-top: 80px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
}
.part1 {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.header-title {
    color: #0B255A;
    font-size: 40px;
    font-weight: 600;
}
.header-text {
    margin-top: 0px;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
}
.section-row {
    display: flex;
    gap: 24px;
    margin-top: 48px;
}
.box {
    flex: 1;
    height: 280px;
    background: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    transition: all 0.3s ease;
    overflow: hidden;
    z-index: 1;
}
.img-layanan {
    width: 64px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.title-layanan {
    color: #0B255A;
    font-size: 24px;
    font-weight: 600;
}
.text-layanan {
    margin-top: 5px;
    text-align: center;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
}
.section-header, .section-row {
    transform: translateY(-40px);
}
.box:hover {
    background: linear-gradient(135deg, #0B255A 0%, #0B255A 30%, #000000 150%);
    transform: translateY(20px);
    filter: drop-shadow(0px -10px 1px rgba(0,0,0,0.3));
}
.box:hover .title-layanan, .box:hover .text-layanan {
    color: white;
}
.box:hover .img-layanan {
    filter: drop-shadow(0px 0px 2px rgba(255,255,255,1));
}